<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <!--<httpErrors errorMode="Detailed" />-->
    <rewrite>
		<rewriteMaps>
		  <rewriteMap name="StaticRewrites" defaultValue="">
                    <add key="/articles" value="/business-insurance/articles" />
                    <add key="/articles-archive" value="/business-insurance/articles/archive" />
                    <add key="/insurance-solutions" value="/business-insurance/solutions" />
                    <add key="/insurance-solutions/janitorial-cleaning-insurance" value="/business-insurance/solutions/janitorial-cleaning-insurance" />
                    <add key="/insurance-solutions/lawn-care-landscaping-insurance" value="/business-insurance/solutions/lawn-care-landscaping-insurance" />
                    <add key="/insurance-solutions/consultant-insurance" value="/business-insurance/solutions/consultant-insurance" />
                    <add key="/insurance-solutions/office-insurance" value="/business-insurance/solutions/office-insurance" />
                    <add key="/insurance-solutions/general-liability-business-property-insurance" value="/business-insurance/solutions/general-liability" />
                    <add key="/insurance-solutions/workers-insurance-compensation" value="/business-insurance/solutions/workers-compensation" />
                    <add key="/commercial-auto-insurance" value="/business-insurance/solutions/auto/" />
                    <add key="/insurance-solutions/umbrella-insurance-policy" value="/business-insurance/solutions/umbrella-insurance" />
                    <add key="/insurance-solutions/business-mistakes-insurance-coverage" value="/business-insurance/solutions/errors-omissions" />
                    <add key="/insurance-solutions/management-directors-insurance" value="/business-insurance/solutions/officers-directors" />
                    <add key="/insurance-solutions/employment-practices-liability-insurance" value="/business-insurance/solutions/employment-practices-liability" />
                    <add key="/insurance-solutions/flood-insurance-coverage" value="/business-insurance/solutions/flood-protection" />
                    <add key="/insurance-solutions/small-business-insurance" value="/business-insurance/solutions/small-business-insurance" />
		  </rewriteMap>
		 </rewriteMaps>
 
 
      <rules>
                <rule name="Article Rewrite Rule" stopProcessing="true">
                    <match url="^articles/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Redirect" url="business-insurance/articles/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Rewrite Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" />
                </rule>
				
				<rule name="wordpress" patternSyntax="Wildcard">
					<match url="*" />
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
		</rules>
    </rewrite>
  </system.webServer>
</configuration>
